*{
   margin: 0;
   padding: 0;
}

body{
   background-color:#1E1E1E ;
   box-sizing: border-box;
   font-family: 'Lily Script One', cursive;
}
/*  Estilização do Cabeçalho */
.navegacao__cabecalho{ 
   font-size: 32px;
   text-align: center;
   width: 100vw;
}
.lista__cabecalho{
   display: inline-block;
   list-style: none;
   padding: 2.5rem;
}
.links__cabecalho{
   color: #FFFFFF;
   text-decoration: none;
}
/* Estilização do Banner*/
.banner{
   background-image: url(imagens/disney-banner\ 1.svg);
   height: 65vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
